<div id="page-wrapper">
    <div class="row">
        <!--<div class="col-lg-2"></div>-->
        <div class="col-lg-12">
            <h1 class="page-header">Merchant Loan Application Details</h1>
        </div>
        <div class="col-lg-2"></div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <!--<div class="col-lg-2"></div>-->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <div class="row">
                        <!--<div class="col-lg-8">-->
                        <div class="col-lg-6">

                            <form role="form" action="confirm"  method="post">
                                <div class="form-group">
                                    <label>Merchant Name</label>
                                    <input class="form-control" placeholder="Enter Merchant Name Here" name="merchant"   />
                                </div>
                                <fieldset id="specificForms">



                                    <div class="form-group">
                                        <label>Merchant Code</label>
                                        <input class="form-control" placeholder="Enter Merchant Code Here" name="code"  />
                                    </div>
                                </fieldset>
                                <fieldset id="squareForms">



                                    <div class="form-group">
                                        <label>Email Adress</label>
                                        <input class="form-control" placeholder="Enter Email Address Here" name="email"  />
                                    </div>

                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input class="form-control" placeholder="Enter Mobile Number Here" name="mobilenumber"
                                        />
                                    </div>

                                </fieldset>

                                <!-- <table width="100%" class="table  table-hover" >

                            <tbody>


                                <tr height="50px">

                                  <th> School Name</th>
                                    <td> ${school.name}</td>

                                </tr>

                               <tr height="50px">

                                  <th>School City</th>
                                    <td> ${school.city}</td>

                                </tr>

                               <tr height="50px">


                                    <th>Province</th>
                                    <td >${school.province}</td>

                                </tr>

                               <tr height="50px">


                                    <td >District</td>
                                      <td >${school.district}</td>

                                </tr>

                            </tbody>
                        </table> -->

                                <!-- <form method="post" id="leagueForm" action="user"><input name="id" type="hidden" id="id" style="margin:0 auto; "/></form>-->
                                <!-- /.table-responsive -->

                                <!-- /.panel-body -->




                                <!--<div class="row">-->

                                <!--<form role="form" action="confirm"  method="post" style="margin: 0 auto ">-->

                                <!-- <div class="form-group">



                                         <table width="100%" class="table" >

                           <tbody>


                           <!--<tr height="50px">



                                   <td>  <label class="radio-inline">


                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="STEWARD"  onclick= showForm(0)>
                                     <img alt="no image" src="images/logo2.png"  width="100" height="20">

                                       </label></td>


                                   <td>
                                       <label class="radio-inline">
                                          <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="ECOCASH"  onclick= showForm(2)>
                                       <img alt="no image" src="images/ecocash2.png"  width="100" height="20">
                                       </label></td>

                               </tr>

                              <tr height="50px">


                                   <td>
                                       <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="PAYNOW"  onclick= showForm(1)>   <img alt="no image" src="images/visamaster.png"  width="100" height="40">

                                       </label></td>

                               </tr>




                           </tbody>
                       </table>






                                   </div> -->
                                <!--<div class="row">
                                        <form role="form" action="confirm"  method="post" style="margin: 0 auto ">

                                        <div class="form-group">

                                            <input class="form-control" value=${school.name} name="school" type="hidden"></input>
                                        </div>

                                         <div class="form-group">

                                            <input class="form-control" value=${school.province}  name="province" type="hidden"/>
                                        </div>


                                      <div class="form-group">

                                            <input class="form-control" value=${school.district} name="district"  type="hidden"/>
                                        </div>

                                        <div class="form-group">

                                            <input class="form-control" value=${school.city} name="city" type="hidden"/>
                                        </div>




                                </div>-->
                        </div>
                        <div class="col-lg-6" id="zidiv">



                            <div class="form-group">
                                <label>Physical Address</label>
                                <input class="form-control" placeholder="Enter Physical Address Here" name="address"
                                />
                            </div>


                            </fieldset>


                            <div class="form-group">
                                <label>Loan Amount</label>
                                <input class="form-control" placeholder="Enter Loan Amount" name="loan"
                                />
                            </div>

                            <fieldset id="squareForms">
                                <div class="form-group">
                                    <label>Destination Bank</label>
                                    <input class="form-control" placeholder="Enter Destination Bank" name="bankname"
                                    />
                                </div>
                                <div class="form-group">
                                    <label>Bank Account Number</label>
                                    <input class="form-control" placeholder="Enter Bank Account Number" name="accountnumber"
                                    />
                                </div>
                            </fieldset>

                            <button type="submit" class="btn btn-success">Submit Button</button><br></br>

                            <button type="reset" class="btn btn-danger">Cancel Payment</button>
                            </form>

                        </div>



                        <div class="col-lg-2"></div>

                        <!-- </div>-->


                        <!-- /.col-lg-6 (nested) -->



                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->

        <!--<div class="col-lg-2"></div>-->

    </div>
    <!-- /.row -->
</div>