<!DOCTYPE html>
<html lang="en">

<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kiosk Application</title>

    <!-- Bootstrap Core CSS -->
   <link href="admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="css/font.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Comic Sans MS:400,300,700' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Font+Name">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
  #page-wrapper{
     /* background-image: url("images/gazebo.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /*background-color: #f5f5f5;*/


}

</style>
    <!--background-image: url("images/download.jpg");-->

</head>

<body>

<!--<% if(session.getAttribute("username")==null){response.sendRedirect("login");} %>-->
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: #7a2c8c">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"  style="font-family: 'Raleway,sans-serif'; font-size: x-large;color: white">Purple Pay<i class="glyphicon glyphicon-usd"></i>
            </a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw" style="color: #ffff"></i> <i class="fa fa-caret-down" style="color: #ffff"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages" style="color: #ffff">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw" style="color: #ffff"></i> <i class="fa fa-caret-down" style="color: #ffff"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks" style="color: #ffff">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw" style="color: #ffff"></i> <i class="fa fa-caret-down" style="color: #ffff"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts" style="color: #ffff">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw" style="color: #ffff"></i> <i class="fa fa-caret-down" style="color: #ffff"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#" style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="activate.html" style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation" style="background-color:#f8f8f8">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..." style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="tables.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li class="header no-menu" style="font-family: 'Raleway,sans-serif'; font-size: large"><span>PAYMENT DETAILS</span></li>
                    <li class="divider"></li>
                    <!--<li class="no-menu">
                         <a href="tables.html" style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'"><i class="glyphicon glyphicon-folder-open"></i> Student Details</a>
                     </li>-->

                    <li class="no-menu">
                        <a href="tables2.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-blackboard"></i>View Reports</a>
                    </li>
                    <!--<li class="no-menu">
                       <a href="/high"><i class="glyphicon glyphicon-book"></i> High Schools</a>
                   </li>

                    <li class="no-menu">
                       <a href="/tert"><i class="glyphicon glyphicon-education"></i> Tertiary Institutions</a>
                   </li>-->

                    <li class="header no-menu" style="font-family: 'Raleway,sans-serif'; font-size: large"><span>SERVICES</span></li>

                    <li class="no-menu">
                        <a href="Kiosk.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-tent"></i>Apply for a Kiosk</a>
                    </li>
                    <li class="no-menu">
                        <a href="school.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-usd"></i>Merchant Loan</a>
                    </li>

                    <li class="no-menu">
                        <a href="Device.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-phone"></i>Device Loan</a>
                    </li>

                    <li class="no-menu">
                        <a href="Takwenga1.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-erase"></i>TaKwenga Loan</a>
                    </li>
                    <!--<li class="no-menu">
                        <a href="/schools"><i class="glyphicon glyphicon-credit-card" style="font-family: Verdana, sans-serif"></i> Apply for Steward Health</a>
                    </li>-->

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <!--<div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-list-alt" style="color:#ffff; font-size: 50px "></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">$<%= session.getAttribute("statement") %></div>
                            <div>Total Last Ten Transactions</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Statement</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= session.getAttribute("beneficiary") %></div>
                            <div>My Beneficiaries</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-comment" style="color:#ffff; font-size: 50px"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>Notifications</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div> -->
    <div id="page-wrapper" >
        <div class="row">
            <div class="col-lg-12" >
                <h1 class="page-header" style="color: black;font-family: 'Raleway,sans-serif'; text-align: center"> Application for A Kiosk</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row" >
            <div class="col-lg-12" style="opacity: 0.92" >
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">

                                <form role="form" action="confirm"  method="post" onsubmit="return validateForm()">


                                    <div class="form-group">
                                        <label style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-education" style="color: #7a2c8c"></i> School Name</label>
                                        <input class="form-control" type="text" placeholder="Enter School Name Here"
                                               name="school" style="font-family: 'Raleway,sans-serif'; font-size: large"  required/>
                                    </div>

                                    <fieldset id="specificForm">


                                        <div class="form-group">
                                            <label style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-earphone" style="color: #7a2c8c"></i> Phone Number</label>
                                            <input class="form-control" placeholder="Enter Phone Number Here" required
                                                   name="phone"
                                                   style="font-family: 'Raleway,sans-serif'; font-size: large" required/>
                                        </div>
                                    </fieldset>
                                    <fieldset id="squareForms">

                                        <div class="form-group">
                                            <label style="font-family: 'Raleway,sans-serif'; font-size: large"> <i class="glyphicon glyphicon-envelope" style="color:#7a2c8c "></i> Email Address</label>
                                            <input class="form-control" placeholder="Enter Email Address Here" required
                                                   name="email"
                                                   style="font-family: 'Raleway,sans-serif'; font-size: large" required/>
                                        </div>






                                    </fieldset>

                                    <!--<table width="100%" class="table  table-hover" >

                                        <tbody>


                                        <tr height="50px">

                                            <th> School Name</th>
                                            <td> ${school.name}</td>

                                        </tr>

                                        <tr height="50px">

                                            <th>School City</th>
                                            <td> ${school.city}</td>

                                        </tr>

                                        <tr height="50px">


                                            <th>Province</th>
                                            <td >${school.province}</td>

                                        </tr>

                                        <tr height="50px">


                                            <td >District</td>
                                            <td >${school.district}</td>

                                        </tr>

                                        </tbody>
                                    </table>-->

                                <!--<form method="post" id="leagueForm" action="user"><input name="id" type="hidden" id="id"/></form>-->
                                <!-- /.table-responsive -->

                                <!-- /.panel-body -->






                                    <!-- <div class="form-group">



                                       <table width="100%" class="table" >

                                            <tbody>


                                            <tr height="50px">

                                                <td>  <label class="radio-inline">
                                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="STEWARD"  onclick= showForm(0)>
                                                    <img alt="no image" src="images/logo2.png"  width="100" height="20">

                                                </label></td>


                                                <td>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="ECOCASH"  onclick= showForm(2)>
                                                        <img alt="no image" src="images/ecocash2.png"  width="100" height="20">
                                                    </label></td>

                                            </tr>

                                            <tr height="50px">


                                                <td>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="PAYNOW"  onclick= showForm(1)>   <img alt="no image" src="images/visamaster.png"  width="100" height="40">

                                                    </label></td>

                                            </tr>




                                            </tbody>
                                        </table>







                                    </div>-->

                                    <!--<div class="form-group">

                                        <input class="form-control" value=${school.name} name="school" type="hidden"></input>
                                    </div>

                                    <div class="form-group">

                                        <input class="form-control" value=${school.province}  name="province" type="hidden"/>
                                    </div>


                                    <div class="form-group">

                                        <input class="form-control" value=${school.district} name="district"  type="hidden"/>
                                    </div>

                                    <div class="form-group">

                                        <input class="form-control" value=${school.city} name="city" type="hidden"/>
                                    </div> -->




                            </div>
                            <div class="col-lg-6" id="zidiv">

                                <div class="form-group">
                                    <label style="font-family: 'Raleway,sans-serif'; font-size: large"> <i class="glyphicon glyphicon-home" style="color: #7a2c8c"></i> Physical Address</label>
                                    <input class="form-control" placeholder="Enter Physical Address Here" name="address"
                                           style="font-family: 'Raleway,sans-serif'; font-size: large" required/>
                                </div>


                                <div class="form-group">
                                    <label style="font-family: 'Raleway,sans-serif';font-size: large"><i class="glyphicon glyphicon-tent" style="color: #7a2c8c"></i> Select Type</label><select value="text" placeholder="Select  Type" style="width: 490px; height: 35px; border-radius: 5px" >
                                    <option value="kiosk" style="font-family: 'Raleway,sans-serif'; font-size: large">Kiosk</option>
                                    <option value="container" style="font-family: 'Raleway,sans-serif'; font-size: large">Container</option>
                                    <option value="gazebo" style="font-family: 'Raleway,sans-serif'; font-size: large">Gazebo</option>

                                </select>
                                </div>
                                <fieldset id="specificForms">


                                    <div class="form-group">
                                        <label style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-menu-hamburger" style="color: #7a2c8c"></i> Quantity</label>
                                        <input class="form-control" placeholder="Enter Quantity Here" name="quantity"
                                               style="font-family: 'Raleway,sans-serif'; font-size: large" required/>
                                    </div>
                                </fieldset>



                                <button type="submit" class="btn btn-success" style="font-family: 'Raleway,sans-serif'; font-size: large; background-color: #7a2c8c
                                ;border-color: #7a2c8c">Submit Details</button>
                                <button type="reset" class="btn btn-danger" style="font-family: 'Raleway,sans-serif';font-size:large; background-color: #6B6A6B ;
border-color: #6B6A6B">Cancel Application</button>
                                </form>

                            </div>


                            <!-- /.col-lg-6 (nested) -->



                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="admin/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="admin/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="admin/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="admin/dist/js/sb-admin-2.js"></script>

<script>

    function showForm(x){

        if(x==2){

            document.getElementById('specificForms').style.display='block' ;
            hideSquare();


        }




        else if(x==0){

            document.getElementById('specificForms').style.display='none' ;
            showSquare();
        }
        else{

            hideSquare();
        }
    }


    function showSquare(){



        document.getElementById('squareForms').style.display='block' ;



    }

    function hideSquare(){



        document.getElementById('squareForms').style.display='none' ;



    }

    function validateForm() {
        var x = document.forms["form"]["school"].value;
        if (x == "") {
            alert("School Name must be filled out");
            return false;
        }
    }
</script>




</body>

</html>
