<!DOCTYPE html>
<html lang="en">

<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Students Payments Details</title>

    <!-- Bootstrap Core CSS -->
    <link href="admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="admin/dist/css/sb-admin-2.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comic Sans MS:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Camphor,Segoe UI,Open Sans,sans-serif:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway,Helvetica Neue,Helvetica,sans-serif:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Font+Name">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="scripts1.js"></script>
        <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
        <link href="css/font.css" rel="stylesheet">
        <script src="js/scripts1.js"></script>
        <script src="js/scripts2.js"></script>
    <![endif]-->

</head>

<body>

<!--<% if(session.getAttribute("username")==null){response.sendRedirect("login");} %>-->
    <div id="wrapper" >

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: #7a2c8c">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"  style="font-family: 'Raleway,sans-serif'; font-size: x-large;color: white">Purple Pay<i class="glyphicon glyphicon-usd"></i>
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw" style="color: #ffff"></i> <i class="fa fa-caret-down" style="color: #ffff"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages" style="color: #ffff">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw" style="color: #ffff"></i> <i class="fa fa-caret-down" style="color: #ffff"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks" style="color: #ffff">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw" style="color: #ffff"></i> <i class="fa fa-caret-down" style="color: #ffff"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts" style="color: #ffff">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw" style="color: #ffff"></i> <i class="fa fa-caret-down" style="color: #ffff"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#" style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="activate.html" style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" style="background-color:#f8f8f8">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..." 1="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="tables.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                      <li class="header no-menu" style="font-family: 'Raleway,sans-serif'; font-size: large"><span>PAYMENT DETAILS</span></li>
    <li class="divider"></li>
                       <!--<li class="no-menu">
                            <a href="tables.html" style="font-family: 'Raleway,Helvetica Neue,Helvetica,sans-serif'"><i class="glyphicon glyphicon-folder-open"></i> Student Details</a>
                        </li>-->
                        <li class="no-menu">
                            <a href="tables2.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-blackboard"></i>View Reports</a>
                        </li>
                         <!--<li class="no-menu">
                            <a href="/high"><i class="glyphicon glyphicon-book"></i> High Schools</a>
                        </li>
                        
                         <li class="no-menu">
                            <a href="/tert"><i class="glyphicon glyphicon-education"></i> Tertiary Institutions</a>
                        </li>-->
                        
                        <li class="header no-menu" style="font-family: 'Raleway,sans-serif'; font-size: large"><span>SERVICES</span></li>

                        <li class="no-menu">
                            <a href="Kiosk.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-tent"></i>Apply for a Kiosk</a>
                        </li>
                         <li class="no-menu">
                            <a href="school.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-usd"></i>Merchant Loan</a>
                        </li>

                        <li class="no-menu">
                            <a href="Device.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-phone"></i>Device Loan</a>
                        </li>

                        <li class="no-menu">
                            <a href="Takwenga1.html" style="font-family: 'Raleway,sans-serif'; font-size: large"><i class="glyphicon glyphicon-erase"></i>TaKwenga Loan</a>
                        </li>
                        <!--<li class="no-menu">
                            <a href="/schools"><i class="glyphicon glyphicon-credit-card" style="font-family: Verdana, sans-serif"></i> Apply for Steward Health</a>
                        </li>-->
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" >
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="font-family: 'Raleway,sans-serif'; text-align: center" > Payments
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" style="font-family: 'Comic Sans MS'">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-family: 'Raleway,sans-serif';font-size: x-large; background-color: #7a2c8c; color: white">
                            Student Payment Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="font-family: 'Raleway,sans-serif'; font-size: medium">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example"
                                   style="font-family: 'Raleway,sans-serif'; font-size: medium">
                                <thead>
                                    <tr style="font-family: 'Raleway,sans-serif'; font-size: medium">
                                     <th>#</th>
                                        <th>Date</th>
                                        <th>Student Name</th>
                                        <th>Reference Number</th>
                                        <th>Sponsor</th>
                                        <th>Amount</th>
                                        <!--<th>Balance</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                
                                <c:forEach var="school" items="${schools}">
                                    <!--<tr class="odd gradeX">
                                     
                                      <td> ${school.id}</td>
                                        <td> ${school.name}</td>
                                        <td>${school.city}</td>
                                        <td>${school.province}</td>
                                        <td >${school.district}</td>
                                        <td class="center"><img src=${school.logo} class="img-rounded" alt="No Image" width="150" height="40"> </td>
                                    </tr>-->

                                    <tr class="odd gradeX" style="font-family: 'Raleway,sans-serif'">

                                        <td> 1</td>
                                        <td> 14/11/2018</td>
                                        <td>Anesu Siwella</td>
                                        <td>r129797j</td>
                                        <td>Mazvita Siwella</td>
                                        <td>100 </td>
                                        <!--<td>400</td>-->
                                    </tr>
                                    <tr class="odd gradeX" style="font-family: 'Raleway,sans-serif'">

                                        <td> 2</td>
                                        <td> 15/11/2018</td>
                                        <td>Tinotenda Sibanda</td>
                                        <td>r185628p</td>
                                        <td>Tanaka Muyambo</td>
                                        <td>200</td>
                                        <!--<td>400</td>-->
                                    </tr>
                                    <tr class="odd gradeX" style="font-family: 'Raleway,sans-serif'">

                                        <td> 3</td>
                                        <td> 16/11/2018</td>
                                        <td>Nelly Gwandu</td>
                                        <td>r145785p</td>
                                        <td>Nonche Gwandu</td>
                                        <td>150</td>
                                        <!--<td>400</td>-->
                                    </tr>
                                    <tr class="odd gradeX" style="font-family: 'Raleway,sans-serif'">

                                        <td> 4</td>
                                        <td> 17/11/2018</td>
                                        <td>Tapiwa Mutema</td>
                                        <td>r154869l</td>
                                        <td>Simukai Gwena</td>
                                        <td>130</td>
                                        <!--<td>400</td>-->
                                    </tr>
                                    <tr class="odd gradeX" style="font-family: 'Raleway,sans-serif'">

                                        <td>5</td>
                                        <td> 17/11/2018</td>
                                        <td>Alisamore Muyambo</td>
                                        <td>r185643m</td>
                                        <td>Simukai Gwena</td>
                                        <td>160</td>
                                        <!--<td>400</td>-->
                                    </tr>
                                  </c:forEach>
                                </tbody>
                            </table>
                            
                            <form method="post" id="leagueForm" action="user"><input name="id" type="hidden" id="id"/></form>
                            <!-- /.table-responsive -->
                          
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
            
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="admin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="admin/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="admin/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>


<script>
    $(document).ready(function() {
        $('#dataTables-example tbody tr').click( function(){
        	
        	var tableData=$(this).children("td").map(function(){
        		
        		
        		return $(this).text();
        	}).get();
        	var td=tableData[0];
        	
        	var $form = $('#leagueForm');
        	// set the input value
        	document.getElementById('id').value = td;

        	$form.submit();
            
        });
    });
    </script>

</body>

</html>
