@font-face {
  font-family: 'spinnericon';
  src: url('spinnericon.eot@39661457');
  src: url('spinnericon.eot@39661457') format('embedded-opentype'),
       url('spinnericon.woff@39661457') format('woff'),
       url('spinnericon.ttf@39661457') format('truetype'),
       url('spinnericon.svg@39661457') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-spin-']:before,
[class*=' icon-spin-']:before {
    font-family: 'spinnericon';
}

.icon-spin-1:before { content: '\e80b'; }
.icon-spin-2:before { content: '\e80a'; }
.icon-spin-3:before { content: '\e809'; }
.icon-spin-4:before { content: '\e808'; }
.icon-spin-5:before { content: '\e807'; }
.icon-spin-6:before { content: '\e806'; }