@font-face {
  font-family: 'elusive';
  src: url('elusive.eot@45363950');
  src: url('elusive.eot@45363950') format('embedded-opentype'),
       url('elusive.woff@45363950') format('woff'),
       url('elusive.ttf@45363950') format('truetype'),
       url('elusive.svg@45363950') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-elusive-']:before,
[class*=' icon-elusive-']:before {
    font-family: 'elusive';
}

.icon-elusive-glass:before { content: '\e800'; } /* '' */
.icon-elusive-youtube:before { content: '\e90e'; } /* '' */
.icon-elusive-search:before { content: '\e802'; } /* '' */
.icon-elusive-search-circled:before { content: '\e803'; } /* '' */
.icon-elusive-mail:before { content: '\e804'; } /* '' */
.icon-elusive-mail-circled:before { content: '\e805'; } /* '' */
.icon-elusive-heart:before { content: '\e806'; } /* '' */
.icon-elusive-heart-circled:before { content: '\e807'; } /* '' */
.icon-elusive-heart-empty:before { content: '\e808'; } /* '' */
.icon-elusive-star:before { content: '\e809'; } /* '' */
.icon-elusive-star-circled:before { content: '\e80a'; } /* '' */
.icon-elusive-star-empty:before { content: '\e80b'; } /* '' */
.icon-elusive-user:before { content: '\e80c'; } /* '' */
.icon-elusive-group:before { content: '\e80d'; } /* '' */
.icon-elusive-group-circled:before { content: '\e80e'; } /* '' */
.icon-elusive-torso:before { content: '\e80f'; } /* '' */
.icon-elusive-video:before { content: '\e810'; } /* '' */
.icon-elusive-video-circled:before { content: '\e811'; } /* '' */
.icon-elusive-video-alt:before { content: '\e812'; } /* '' */
.icon-elusive-videocam:before { content: '\e813'; } /* '' */
.icon-elusive-video-chat:before { content: '\e814'; } /* '' */
.icon-elusive-picture:before { content: '\e815'; } /* '' */
.icon-elusive-camera:before { content: '\e816'; } /* '' */
.icon-elusive-photo:before { content: '\e817'; } /* '' */
.icon-elusive-photo-circled:before { content: '\e818'; } /* '' */
.icon-elusive-th-large:before { content: '\e819'; } /* '' */
.icon-elusive-th:before { content: '\e81a'; } /* '' */
.icon-elusive-th-list:before { content: '\e81b'; } /* '' */
.icon-elusive-view-mode:before { content: '\e81c'; } /* '' */
.icon-elusive-ok:before { content: '\e81d'; } /* '' */
.icon-elusive-ok-circled:before { content: '\e81e'; } /* '' */
.icon-elusive-ok-circled2:before { content: '\e81f'; } /* '' */
.icon-elusive-cancel:before { content: '\e820'; } /* '' */
.icon-elusive-cancel-circled:before { content: '\e821'; } /* '' */
.icon-elusive-cancel-circled2:before { content: '\e822'; } /* '' */
.icon-elusive-plus:before { content: '\e823'; } /* '' */
.icon-elusive-plus-circled:before { content: '\e824'; } /* '' */
.icon-elusive-minus:before { content: '\e825'; } /* '' */
.icon-elusive-minus-circled:before { content: '\e826'; } /* '' */
.icon-elusive-help:before { content: '\e827'; } /* '' */
.icon-elusive-help-circled:before { content: '\e828'; } /* '' */
.icon-elusive-info-circled:before { content: '\e829'; } /* '' */
.icon-elusive-home:before { content: '\e82a'; } /* '' */
.icon-elusive-home-circled:before { content: '\e82b'; } /* '' */
.icon-elusive-website:before { content: '\e82c'; } /* '' */
.icon-elusive-website-circled:before { content: '\e82d'; } /* '' */
.icon-elusive-attach:before { content: '\e82e'; } /* '' */
.icon-elusive-attach-circled:before { content: '\e82f'; } /* '' */
.icon-elusive-lock:before { content: '\e830'; } /* '' */
.icon-elusive-lock-circled:before { content: '\e831'; } /* '' */
.icon-elusive-lock-open:before { content: '\e832'; } /* '' */
.icon-elusive-lock-open-alt:before { content: '\e833'; } /* '' */
.icon-elusive-eye:before { content: '\e834'; } /* '' */
.icon-elusive-eye-off:before { content: '\e835'; } /* '' */
.icon-elusive-tag:before { content: '\e836'; } /* '' */
.icon-elusive-tags:before { content: '\e837'; } /* '' */
.icon-elusive-bookmark:before { content: '\e838'; } /* '' */
.icon-elusive-bookmark-empty:before { content: '\e839'; } /* '' */
.icon-elusive-flag:before { content: '\e83a'; } /* '' */
.icon-elusive-flag-circled:before { content: '\e83b'; } /* '' */
.icon-elusive-thumbs-up:before { content: '\e83c'; } /* '' */
.icon-elusive-thumbs-down:before { content: '\e83d'; } /* '' */
.icon-elusive-download:before { content: '\e83e'; } /* '' */
.icon-elusive-download-alt:before { content: '\e83f'; } /* '' */
.icon-elusive-upload:before { content: '\e840'; } /* '' */
.icon-elusive-share:before { content: '\e841'; } /* '' */
.icon-elusive-quote:before { content: '\e842'; } /* '' */
.icon-elusive-quote-circled:before { content: '\e843'; } /* '' */
.icon-elusive-export:before { content: '\e844'; } /* '' */
.icon-elusive-pencil:before { content: '\e845'; } /* '' */
.icon-elusive-pencil-circled:before { content: '\e846'; } /* '' */
.icon-elusive-edit:before { content: '\e847'; } /* '' */
.icon-elusive-edit-circled:before { content: '\e848'; } /* '' */
.icon-elusive-edit-alt:before { content: '\e849'; } /* '' */
.icon-elusive-print:before { content: '\e84a'; } /* '' */
.icon-elusive-retweet:before { content: '\e84b'; } /* '' */
.icon-elusive-comment:before { content: '\e84c'; } /* '' */
.icon-elusive-comment-alt:before { content: '\e84d'; } /* '' */
.icon-elusive-bell:before { content: '\e84e'; } /* '' */
.icon-elusive-warning:before { content: '\e84f'; } /* '' */
.icon-elusive-exclamation:before { content: '\e850'; } /* '' */
.icon-elusive-error:before { content: '\e851'; } /* '' */
.icon-elusive-error-alt:before { content: '\e852'; } /* '' */
.icon-elusive-location:before { content: '\e853'; } /* '' */
.icon-elusive-location-circled:before { content: '\e854'; } /* '' */
.icon-elusive-compass:before { content: '\e855'; } /* '' */
.icon-elusive-compass-circled:before { content: '\e856'; } /* '' */
.icon-elusive-trash:before { content: '\e857'; } /* '' */
.icon-elusive-trash-circled:before { content: '\e858'; } /* '' */
.icon-elusive-doc:before { content: '\e859'; } /* '' */
.icon-elusive-doc-circled:before { content: '\e85a'; } /* '' */
.icon-elusive-doc-new:before { content: '\e85b'; } /* '' */
.icon-elusive-doc-new-circled:before { content: '\e85c'; } /* '' */
.icon-elusive-folder:before { content: '\e85d'; } /* '' */
.icon-elusive-folder-circled:before { content: '\e85e'; } /* '' */
.icon-elusive-folder-close:before { content: '\e85f'; } /* '' */
.icon-elusive-folder-open:before { content: '\e860'; } /* '' */
.icon-elusive-rss:before { content: '\e861'; } /* '' */
.icon-elusive-phone:before { content: '\e862'; } /* '' */
.icon-elusive-phone-circled:before { content: '\e863'; } /* '' */
.icon-elusive-cog:before { content: '\e864'; } /* '' */
.icon-elusive-cog-circled:before { content: '\e865'; } /* '' */
.icon-elusive-cogs:before { content: '\e866'; } /* '' */
.icon-elusive-wrench:before { content: '\e867'; } /* '' */
.icon-elusive-wrench-circled:before { content: '\e868'; } /* '' */
.icon-elusive-basket:before { content: '\e869'; } /* '' */
.icon-elusive-basket-circled:before { content: '\e86a'; } /* '' */
.icon-elusive-calendar:before { content: '\e86b'; } /* '' */
.icon-elusive-calendar-circled:before { content: '\e86c'; } /* '' */
.icon-elusive-mic:before { content: '\e86d'; } /* '' */
.icon-elusive-mic-circled:before { content: '\e86e'; } /* '' */
.icon-elusive-volume-off:before { content: '\e86f'; } /* '' */
.icon-elusive-volume-down:before { content: '\e870'; } /* '' */
.icon-elusive-volume:before { content: '\e871'; } /* '' */
.icon-elusive-volume-up:before { content: '\e872'; } /* '' */
.icon-elusive-headphones:before { content: '\e873'; } /* '' */
.icon-elusive-clock:before { content: '\e874'; } /* '' */
.icon-elusive-clock-circled:before { content: '\e875'; } /* '' */
.icon-elusive-lightbulb:before { content: '\e876'; } /* '' */
.icon-elusive-lightbulb-alt:before { content: '\e877'; } /* '' */
.icon-elusive-block:before { content: '\e878'; } /* '' */
.icon-elusive-resize-full:before { content: '\e879'; } /* '' */
.icon-elusive-resize-full-alt:before { content: '\e87a'; } /* '' */
.icon-elusive-resize-small:before { content: '\e87b'; } /* '' */
.icon-elusive-resize-vertical:before { content: '\e87c'; } /* '' */
.icon-elusive-resize-horizontal:before { content: '\e87d'; } /* '' */
.icon-elusive-move:before { content: '\e87e'; } /* '' */
.icon-elusive-zoom-in:before { content: '\e87f'; } /* '' */
.icon-elusive-zoom-out:before { content: '\e880'; } /* '' */
.icon-elusive-down-open:before { content: '\e881'; } /* '' */
.icon-elusive-left-open:before { content: '\e882'; } /* '' */
.icon-elusive-right-open:before { content: '\e883'; } /* '' */
.icon-elusive-up-open:before { content: '\e884'; } /* '' */
.icon-elusive-down:before { content: '\e885'; } /* '' */
.icon-elusive-left:before { content: '\e886'; } /* '' */
.icon-elusive-music:before { content: '\e801'; } /* '' */
.icon-elusive-up:before { content: '\e888'; } /* '' */
.icon-elusive-down-circled:before { content: '\e889'; } /* '' */
.icon-elusive-left-circled:before { content: '\e88a'; } /* '' */
.icon-elusive-right-circled:before { content: '\e88b'; } /* '' */
.icon-elusive-up-circled:before { content: '\e88c'; } /* '' */
.icon-elusive-down-hand:before { content: '\e88d'; } /* '' */
.icon-elusive-left-hand:before { content: '\e88e'; } /* '' */
.icon-elusive-right-hand:before { content: '\e88f'; } /* '' */
.icon-elusive-up-hand:before { content: '\e890'; } /* '' */
.icon-elusive-cw:before { content: '\e891'; } /* '' */
.icon-elusive-cw-circled:before { content: '\e892'; } /* '' */
.icon-elusive-arrows-cw:before { content: '\e893'; } /* '' */
.icon-elusive-shuffle:before { content: '\e894'; } /* '' */
.icon-elusive-play:before { content: '\e895'; } /* '' */
.icon-elusive-play-circled:before { content: '\e896'; } /* '' */
.icon-elusive-play-circled2:before { content: '\e897'; } /* '' */
.icon-elusive-stop:before { content: '\e898'; } /* '' */
.icon-elusive-stop-circled:before { content: '\e899'; } /* '' */
.icon-elusive-pause:before { content: '\e89a'; } /* '' */
.icon-elusive-pause-circled:before { content: '\e89b'; } /* '' */
.icon-elusive-record:before { content: '\e89c'; } /* '' */
.icon-elusive-eject:before { content: '\e89d'; } /* '' */
.icon-elusive-backward:before { content: '\e89e'; } /* '' */
.icon-elusive-backward-circled:before { content: '\e89f'; } /* '' */
.icon-elusive-fast-backward:before { content: '\e8a0'; } /* '' */
.icon-elusive-fast-forward:before { content: '\e8a1'; } /* '' */
.icon-elusive-forward:before { content: '\e8a2'; } /* '' */
.icon-elusive-forward-circled:before { content: '\e8a3'; } /* '' */
.icon-elusive-step-backward:before { content: '\e8a4'; } /* '' */
.icon-elusive-step-forward:before { content: '\e8a5'; } /* '' */
.icon-elusive-target:before { content: '\e8a6'; } /* '' */
.icon-elusive-signal:before { content: '\e8a7'; } /* '' */
.icon-elusive-desktop:before { content: '\e8a8'; } /* '' */
.icon-elusive-desktop-circled:before { content: '\e8a9'; } /* '' */
.icon-elusive-laptop:before { content: '\e8aa'; } /* '' */
.icon-elusive-laptop-circled:before { content: '\e8ab'; } /* '' */
.icon-elusive-network:before { content: '\e8ac'; } /* '' */
.icon-elusive-inbox:before { content: '\e8ad'; } /* '' */
.icon-elusive-inbox-circled:before { content: '\e8ae'; } /* '' */
.icon-elusive-inbox-alt:before { content: '\e8af'; } /* '' */
.icon-elusive-globe:before { content: '\e8b0'; } /* '' */
.icon-elusive-globe-alt:before { content: '\e8b1'; } /* '' */
.icon-elusive-cloud:before { content: '\e8b2'; } /* '' */
.icon-elusive-cloud-circled:before { content: '\e8b3'; } /* '' */
.icon-elusive-flight:before { content: '\e8b4'; } /* '' */
.icon-elusive-leaf:before { content: '\e8b5'; } /* '' */
.icon-elusive-font:before { content: '\e8b6'; } /* '' */
.icon-elusive-fontsize:before { content: '\e8b7'; } /* '' */
.icon-elusive-bold:before { content: '\e8b8'; } /* '' */
.icon-elusive-italic:before { content: '\e8b9'; } /* '' */
.icon-elusive-text-height:before { content: '\e8ba'; } /* '' */
.icon-elusive-text-width:before { content: '\e8bb'; } /* '' */
.icon-elusive-align-left:before { content: '\e8bc'; } /* '' */
.icon-elusive-align-center:before { content: '\e8bd'; } /* '' */
.icon-elusive-align-right:before { content: '\e8be'; } /* '' */
.icon-elusive-align-justify:before { content: '\e8bf'; } /* '' */
.icon-elusive-list:before { content: '\e8c0'; } /* '' */
.icon-elusive-indent-left:before { content: '\e8c1'; } /* '' */
.icon-elusive-indent-right:before { content: '\e8c2'; } /* '' */
.icon-elusive-briefcase:before { content: '\e8c3'; } /* '' */
.icon-elusive-off:before { content: '\e8c4'; } /* '' */
.icon-elusive-road:before { content: '\e8c5'; } /* '' */
.icon-elusive-qrcode:before { content: '\e8c6'; } /* '' */
.icon-elusive-barcode:before { content: '\e8c7'; } /* '' */
.icon-elusive-braille:before { content: '\e8c8'; } /* '' */
.icon-elusive-book:before { content: '\e8c9'; } /* '' */
.icon-elusive-adjust:before { content: '\e8ca'; } /* '' */
.icon-elusive-tint:before { content: '\e8cb'; } /* '' */
.icon-elusive-check:before { content: '\e8cc'; } /* '' */
.icon-elusive-check-empty:before { content: '\e8cd'; } /* '' */
.icon-elusive-asterisk:before { content: '\e8ce'; } /* '' */
.icon-elusive-gift:before { content: '\e8cf'; } /* '' */
.icon-elusive-fire:before { content: '\e8d0'; } /* '' */
.icon-elusive-magnet:before { content: '\e8d1'; } /* '' */
.icon-elusive-chart:before { content: '\e8d2'; } /* '' */
.icon-elusive-chart-circled:before { content: '\e8d3'; } /* '' */
.icon-elusive-credit-card:before { content: '\e8d4'; } /* '' */
.icon-elusive-megaphone:before { content: '\e8d5'; } /* '' */
.icon-elusive-clipboard:before { content: '\e8d6'; } /* '' */
.icon-elusive-hdd:before { content: '\e8d7'; } /* '' */
.icon-elusive-key:before { content: '\e8d8'; } /* '' */
.icon-elusive-certificate:before { content: '\e8d9'; } /* '' */
.icon-elusive-tasks:before { content: '\e8da'; } /* '' */
.icon-elusive-filter:before { content: '\e8db'; } /* '' */
.icon-elusive-gauge:before { content: '\e8dc'; } /* '' */
.icon-elusive-smiley:before { content: '\e8dd'; } /* '' */
.icon-elusive-smiley-circled:before { content: '\e8de'; } /* '' */
.icon-elusive-address-book:before { content: '\e8df'; } /* '' */
.icon-elusive-address-book-alt:before { content: '\e8e0'; } /* '' */
.icon-elusive-asl:before { content: '\e8e1'; } /* '' */
.icon-elusive-glasses:before { content: '\e8e2'; } /* '' */
.icon-elusive-hearing-impaired:before { content: '\e8e3'; } /* '' */
.icon-elusive-iphone-home:before { content: '\e8e4'; } /* '' */
.icon-elusive-person:before { content: '\e8e5'; } /* '' */
.icon-elusive-adult:before { content: '\e8e6'; } /* '' */
.icon-elusive-child:before { content: '\e8e7'; } /* '' */
.icon-elusive-blind:before { content: '\e8e8'; } /* '' */
.icon-elusive-guidedog:before { content: '\e8e9'; } /* '' */
.icon-elusive-accessibility:before { content: '\e8ea'; } /* '' */
.icon-elusive-universal-access:before { content: '\e8eb'; } /* '' */
.icon-elusive-male:before { content: '\e8ec'; } /* '' */
.icon-elusive-female:before { content: '\e8ed'; } /* '' */
.icon-elusive-behance:before { content: '\e8ee'; } /* '' */
.icon-elusive-blogger:before { content: '\e8ef'; } /* '' */
.icon-elusive-cc:before { content: '\e8f0'; } /* '' */
.icon-elusive-css:before { content: '\e8f1'; } /* '' */
.icon-elusive-delicious:before { content: '\e8f2'; } /* '' */
.icon-elusive-deviantart:before { content: '\e8f3'; } /* '' */
.icon-elusive-digg:before { content: '\e8f4'; } /* '' */
.icon-elusive-dribbble:before { content: '\e8f5'; } /* '' */
.icon-elusive-facebook:before { content: '\e8f6'; } /* '' */
.icon-elusive-flickr:before { content: '\e8f7'; } /* '' */
.icon-elusive-foursquare:before { content: '\e8f8'; } /* '' */
.icon-elusive-friendfeed:before { content: '\e8f9'; } /* '' */
.icon-elusive-friendfeed-rect:before { content: '\e8fa'; } /* '' */
.icon-elusive-github:before { content: '\e8fb'; } /* '' */
.icon-elusive-github-text:before { content: '\e8fc'; } /* '' */
.icon-elusive-googleplus:before { content: '\e8fd'; } /* '' */
.icon-elusive-instagram:before { content: '\e8fe'; } /* '' */
.icon-elusive-linkedin:before { content: '\e8ff'; } /* '' */
.icon-elusive-path:before { content: '\e900'; } /* '' */
.icon-elusive-picasa:before { content: '\e901'; } /* '' */
.icon-elusive-pinterest:before { content: '\e902'; } /* '' */
.icon-elusive-reddit:before { content: '\e903'; } /* '' */
.icon-elusive-skype:before { content: '\e904'; } /* '' */
.icon-elusive-slideshare:before { content: '\e905'; } /* '' */
.icon-elusive-stackoverflow:before { content: '\e906'; } /* '' */
.icon-elusive-stumbleupon:before { content: '\e907'; } /* '' */
.icon-elusive-twitter:before { content: '\e908'; } /* '' */
.icon-elusive-tumblr:before { content: '\e909'; } /* '' */
.icon-elusive-vimeo:before { content: '\e90a'; } /* '' */
.icon-elusive-vkontakte:before { content: '\e90b'; } /* '' */
.icon-elusive-w3c:before { content: '\e90c'; } /* '' */
.icon-elusive-wordpress:before { content: '\e90d'; } /* '' */
.icon-elusive-right:before { content: '\e887'; } /* '' */