@font-face {
  font-family: 'iconic';
  src: url('iconic.eot@99378382');
  src: url('iconic.eot@99378382') format('embedded-opentype'),
       url('iconic.woff@99378382') format('woff'),
       url('iconic.ttf@99378382') format('truetype'),
       url('iconic.svg@99378382') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-iconic-']:before,
[class*=' icon-iconic-']:before {
    font-family: 'iconic';
}

.icon-iconic-search:before { content: '\e800'; } /* '' */
.icon-iconic-mail:before { content: '\e801'; } /* '' */
.icon-iconic-heart:before { content: '\e802'; } /* '' */
.icon-iconic-heart-empty:before { content: '\e803'; } /* '' */
.icon-iconic-star:before { content: '\e804'; } /* '' */
.icon-iconic-user:before { content: '\e805'; } /* '' */
.icon-iconic-video:before { content: '\e806'; } /* '' */
.icon-iconic-picture:before { content: '\e807'; } /* '' */
.icon-iconic-camera:before { content: '\e808'; } /* '' */
.icon-iconic-ok:before { content: '\e809'; } /* '' */
.icon-iconic-ok-circle:before { content: '\e80a'; } /* '' */
.icon-iconic-cancel:before { content: '\e80b'; } /* '' */
.icon-iconic-cancel-circle:before { content: '\e80c'; } /* '' */
.icon-iconic-plus:before { content: '\e80d'; } /* '' */
.icon-iconic-plus-circle:before { content: '\e80e'; } /* '' */
.icon-iconic-minus:before { content: '\e80f'; } /* '' */
.icon-iconic-minus-circle:before { content: '\e810'; } /* '' */
.icon-iconic-help:before { content: '\e811'; } /* '' */
.icon-iconic-info:before { content: '\e812'; } /* '' */
.icon-iconic-home:before { content: '\e813'; } /* '' */
.icon-iconic-link:before { content: '\e814'; } /* '' */
.icon-iconic-attach:before { content: '\e815'; } /* '' */
.icon-iconic-lock:before { content: '\e816'; } /* '' */
.icon-iconic-lock-empty:before { content: '\e817'; } /* '' */
.icon-iconic-lock-open:before { content: '\e818'; } /* '' */
.icon-iconic-lock-open-empty:before { content: '\e819'; } /* '' */
.icon-iconic-pin:before { content: '\e81a'; } /* '' */
.icon-iconic-eye:before { content: '\e81b'; } /* '' */
.icon-iconic-tag:before { content: '\e81c'; } /* '' */
.icon-iconic-tag-empty:before { content: '\e81d'; } /* '' */
.icon-iconic-download:before { content: '\e81e'; } /* '' */
.icon-iconic-upload:before { content: '\e81f'; } /* '' */
.icon-iconic-download-cloud:before { content: '\e820'; } /* '' */
.icon-iconic-upload-cloud:before { content: '\e821'; } /* '' */
.icon-iconic-quote-left:before { content: '\e822'; } /* '' */
.icon-iconic-quote-right:before { content: '\e823'; } /* '' */
.icon-iconic-quote-left-alt:before { content: '\e824'; } /* '' */
.icon-iconic-quote-right-alt:before { content: '\e825'; } /* '' */
.icon-iconic-pencil:before { content: '\e826'; } /* '' */
.icon-iconic-pencil-neg:before { content: '\e827'; } /* '' */
.icon-iconic-pencil-alt:before { content: '\e828'; } /* '' */
.icon-iconic-undo:before { content: '\e829'; } /* '' */
.icon-iconic-comment:before { content: '\e82a'; } /* '' */
.icon-iconic-comment-inv:before { content: '\e82b'; } /* '' */
.icon-iconic-comment-alt:before { content: '\e82c'; } /* '' */
.icon-iconic-comment-inv-alt:before { content: '\e82d'; } /* '' */
.icon-iconic-comment-alt2:before { content: '\e82e'; } /* '' */
.icon-iconic-comment-inv-alt2:before { content: '\e82f'; } /* '' */
.icon-iconic-chat:before { content: '\e830'; } /* '' */
.icon-iconic-chat-inv:before { content: '\e831'; } /* '' */
.icon-iconic-location:before { content: '\e832'; } /* '' */
.icon-iconic-location-inv:before { content: '\e833'; } /* '' */
.icon-iconic-location-alt:before { content: '\e834'; } /* '' */
.icon-iconic-compass:before { content: '\e835'; } /* '' */
.icon-iconic-trash:before { content: '\e836'; } /* '' */
.icon-iconic-trash-empty:before { content: '\e837'; } /* '' */
.icon-iconic-doc:before { content: '\e838'; } /* '' */
.icon-iconic-doc-inv:before { content: '\e839'; } /* '' */
.icon-iconic-doc-alt:before { content: '\e83a'; } /* '' */
.icon-iconic-doc-inv-alt:before { content: '\e83b'; } /* '' */
.icon-iconic-article:before { content: '\e83c'; } /* '' */
.icon-iconic-article-alt:before { content: '\e83d'; } /* '' */
.icon-iconic-book-open:before { content: '\e83e'; } /* '' */
.icon-iconic-folder:before { content: '\e83f'; } /* '' */
.icon-iconic-folder-empty:before { content: '\e840'; } /* '' */
.icon-iconic-box:before { content: '\e841'; } /* '' */
.icon-iconic-rss:before { content: '\e842'; } /* '' */
.icon-iconic-rss-alt:before { content: '\e843'; } /* '' */
.icon-iconic-cog:before { content: '\e844'; } /* '' */
.icon-iconic-wrench:before { content: '\e845'; } /* '' */
.icon-iconic-share:before { content: '\e846'; } /* '' */
.icon-iconic-calendar:before { content: '\e847'; } /* '' */
.icon-iconic-calendar-inv:before { content: '\e848'; } /* '' */
.icon-iconic-calendar-alt:before { content: '\e849'; } /* '' */
.icon-iconic-mic:before { content: '\e84a'; } /* '' */
.icon-iconic-volume-off:before { content: '\e84b'; } /* '' */
.icon-iconic-volume-up:before { content: '\e84c'; } /* '' */
.icon-iconic-headphones:before { content: '\e84d'; } /* '' */
.icon-iconic-clock:before { content: '\e84e'; } /* '' */
.icon-iconic-lamp:before { content: '\e84f'; } /* '' */
.icon-iconic-block:before { content: '\e850'; } /* '' */
.icon-iconic-resize-full:before { content: '\e851'; } /* '' */
.icon-iconic-resize-full-alt:before { content: '\e852'; } /* '' */
.icon-iconic-resize-small:before { content: '\e853'; } /* '' */
.icon-iconic-resize-small-alt:before { content: '\e854'; } /* '' */
.icon-iconic-resize-vertical:before { content: '\e855'; } /* '' */
.icon-iconic-resize-horizontal:before { content: '\e856'; } /* '' */
.icon-iconic-move:before { content: '\e857'; } /* '' */
.icon-iconic-popup:before { content: '\e858'; } /* '' */
.icon-iconic-down:before { content: '\e859'; } /* '' */
.icon-iconic-left:before { content: '\e85a'; } /* '' */
.icon-iconic-right:before { content: '\e85b'; } /* '' */
.icon-iconic-up:before { content: '\e85c'; } /* '' */
.icon-iconic-down-circle:before { content: '\e85d'; } /* '' */
.icon-iconic-left-circle:before { content: '\e85e'; } /* '' */
.icon-iconic-right-circle:before { content: '\e85f'; } /* '' */
.icon-iconic-up-circle:before { content: '\e860'; } /* '' */
.icon-iconic-cw:before { content: '\e861'; } /* '' */
.icon-iconic-loop:before { content: '\e862'; } /* '' */
.icon-iconic-loop-alt:before { content: '\e863'; } /* '' */
.icon-iconic-exchange:before { content: '\e864'; } /* '' */
.icon-iconic-split:before { content: '\e865'; } /* '' */
.icon-iconic-arrow-curved:before { content: '\e866'; } /* '' */
.icon-iconic-play:before { content: '\e867'; } /* '' */
.icon-iconic-play-circle2:before { content: '\e868'; } /* '' */
.icon-iconic-stop:before { content: '\e869'; } /* '' */
.icon-iconic-pause:before { content: '\e86a'; } /* '' */
.icon-iconic-to-start:before { content: '\e86b'; } /* '' */
.icon-iconic-to-end:before { content: '\e86c'; } /* '' */
.icon-iconic-eject:before { content: '\e86d'; } /* '' */
.icon-iconic-target:before { content: '\e86e'; } /* '' */
.icon-iconic-signal:before { content: '\e86f'; } /* '' */
.icon-iconic-award:before { content: '\e870'; } /* '' */
.icon-iconic-award-empty:before { content: '\e871'; } /* '' */
.icon-iconic-list:before { content: '\e872'; } /* '' */
.icon-iconic-list-nested:before { content: '\e873'; } /* '' */
.icon-iconic-bat-empty:before { content: '\e874'; } /* '' */
.icon-iconic-bat-half:before { content: '\e875'; } /* '' */
.icon-iconic-bat-full:before { content: '\e876'; } /* '' */
.icon-iconic-bat-charge:before { content: '\e877'; } /* '' */
.icon-iconic-mobile:before { content: '\e878'; } /* '' */
.icon-iconic-cd:before { content: '\e879'; } /* '' */
.icon-iconic-equalizer:before { content: '\e87a'; } /* '' */
.icon-iconic-cursor:before { content: '\e87b'; } /* '' */
.icon-iconic-aperture:before { content: '\e87c'; } /* '' */
.icon-iconic-aperture-alt:before { content: '\e87d'; } /* '' */
.icon-iconic-steering-wheel:before { content: '\e87e'; } /* '' */
.icon-iconic-book:before { content: '\e87f'; } /* '' */
.icon-iconic-book-alt:before { content: '\e880'; } /* '' */
.icon-iconic-brush:before { content: '\e881'; } /* '' */
.icon-iconic-brush-alt:before { content: '\e882'; } /* '' */
.icon-iconic-eyedropper:before { content: '\e883'; } /* '' */
.icon-iconic-layers:before { content: '\e884'; } /* '' */
.icon-iconic-layers-alt:before { content: '\e885'; } /* '' */
.icon-iconic-sun:before { content: '\e886'; } /* '' */
.icon-iconic-sun-inv:before { content: '\e887'; } /* '' */
.icon-iconic-cloud:before { content: '\e888'; } /* '' */
.icon-iconic-rain:before { content: '\e889'; } /* '' */
.icon-iconic-flash:before { content: '\e88a'; } /* '' */
.icon-iconic-moon:before { content: '\e88b'; } /* '' */
.icon-iconic-moon-inv:before { content: '\e88c'; } /* '' */
.icon-iconic-umbrella:before { content: '\e88d'; } /* '' */
.icon-iconic-chart-bar:before { content: '\e88e'; } /* '' */
.icon-iconic-chart-pie:before { content: '\e88f'; } /* '' */
.icon-iconic-chart-pie-alt:before { content: '\e890'; } /* '' */
.icon-iconic-key:before { content: '\e891'; } /* '' */
.icon-iconic-key-inv:before { content: '\e892'; } /* '' */
.icon-iconic-hash:before { content: '\e893'; } /* '' */
.icon-iconic-at:before { content: '\e894'; } /* '' */
.icon-iconic-pilcrow:before { content: '\e895'; } /* '' */
.icon-iconic-dial:before { content: '\e896'; } /* '' */